body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e08b52, #e08b52);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: rgb(89, 229, 232);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 26px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f0f0f0;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #d4d4d4;
}

.operator {
  background-color: #ff9500;
  color: white;
}

.operator:hover {
  background-color: #e08900;
}

.equal {
  grid-column: span 4;
  background-color: #34c759;
  color: white;
}

.equal:hover {
  background-color: #28a745;
}
#backspace {
  background-color: #f9c74f;
  color: white;
  font-weight: bold;
}

#backspace:hover {
  background-color: #f4a100;
}
